@font-face{
	font-family: game;
	src: url("D:/DesenvolvimentoWeb/PaginaPessoal_CETEP/fontes/game.otf");
}

/*Header*/
.block-header{
	padding-top: 8px;
	height: 90px;
	
	background-color: #E4572E; /*Laranja header*/
	font-family: game, Verdana, Helvetica, Arial, sans-serif;
}

.block-header--fixed{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

.header-menu{
	margin: 0px;
	
	font-size: 1.6rem;
	list-style: none;
}

@media (max-width: 768px){
	.header-menu{
		position: fixed;
		top: 80px;
		right: 0;
		bottom: 0;
		display: none;

		width: 180px;
		padding: 25px;
		border-left: 10px solid #000;
		background-color: #84A7DF; /*Azul Menu para dispositivos pequenos*/
	}
	.header-menu--toggling{
		display: block;
	}
}

/*Section*/
.block-section{
	margin-top: 120px;
	width:100%;
}

.recursos-menu{
	padding:0px;
    margin:0px;
    list-style:none;
    overflow:auto;
    margin: 0 auto;
}

/*Footer*/
.block-footer{
	padding: 3px 0;
	height: 80px;

	background-color: #F8D158; /*Amarelo footer*/
	font-family: game, Verdana, Helvetica, Arial, sans-serif;

	color: #000;
	text-align: center;
}

.footer-menu{
	display: inline-block;
    height: inherit;
    float: center;
    width: 30%;
    margin: 0;
    line-height: 10px;
}

/*Nav*/
.block-nav{
	margin-top: 90px;
	padding: 80px 0;
	height: 480px;

	font-family: game, Verdana, Helvetica, Arial, sans-serif;
		
}

.nav-ada{
	margin: 100px;
	font-size: 1.6rem;
	text-align: center;

	box-sizing: content-box;
	width: 900px;
	height: 500px;
	     
}

.nav-animada{
	animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 0%;
    width: 200%
  }

  to {
    margin-left: 0%;
    width: 130%;
  }
}