/*Header*/
.block-header{

	padding-top: 8px;
	height: 110px;
	border-bottom: 2px solid #fff; /*borda branca abaixo do header*/

	background-color: #E4572E; /*Laranja header*/
}

.block-header--fixed{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

.header-menu{
	margin: 0px;
	
	font-size: 1.6rem;
	list-style: none;
}

@media (max-width: 768px){
	.header-menu{
		position: fixed;
		top: 80px;
		right: 0;
		bottom: 0;
		display: none;

		width: 180px;
		padding: 25px;
		border-left: 10px solid #000;
		background-color: #84A7DF; /*Azul Menu para dispositivos pequenos*/
	}
	.header-menu--toggling{
		display: block;
	}
}

@media (min-width: 769px){


}

/*Section*/
.block-section{

}

/*Footer*/
.block-footer{
	padding: 10px 0;

	background-color: #F8D158; /*Amarelo footer*/

	color: #000;
	text-align: center;
}