
/*Header*/

.block-header__logomarca{
	float: left;

	width: 150px;
	height: 85px;
}

.block-header__menu{
	float: right;

	padding-top: 30px;
}

.bar-button{
	width: 37px;
	height: 37px;
	border: 0;

	background: none;
	background-image: url("../imagens/barButton.png");
}

/*Footer*/

.block-header__footer{
	float: center;

	padding-top: 10px;
}

.footer-menu__item{
		display: inline-block;
	    float: left;
	    margin-left: 5px;
	    margin-top: 7px;
	    width: 40px;
	    height: inherit;
}

/*Article*/
.recursos-menu__item{
	display: inline-block;
	position: relative;

	padding: 35px;
}

@media (max-width: 768px){
	.header-menu__item{
		display: block;

		line-height: 2.5;

		color: #fff;
	}
}

@media (min-width: 769px){
	.bar-button{
		display: none;
	}

	.header-menu__item{
		display: inline-block;
		position: relative;

		padding: 5px;
		width: 80px;
		border-bottom: 3px solid #E4572E;
		-webkit-transition: border-bottom 1s ease-out;
		-moz-transition: border-bottom 1s ease-out;
		-o-transition: border-bottom 1s ease-out;
		-ms-transition: border-bottom 1s ease-out;

		font-weight: bold;
		color: #000;
		text-align: center;
	}

	.header-menu__item:hover{
		border-bottom: 3px solid #29335C;
		filter: alpha(opacity=50);
		-moz-opacity: 1;
		opacity: 1;
		color: #29335C;
	}

	/*Section*/
	.block-section__imaginacao{
		color: #FFF;
	}
}

.nav-ada__frase{
	margin: 0;

	font-size: 3.5rem;
	line-height: 1em;
	text-shadow: 2px 2px #454545;
	color: #fff;
}

.nav-ada__autora{
	margin-top: 2px;	
}

.nav-ada__autora > a{
	color: #fff;

	text-align: right;

}